body {
  background-image: url("/images-etc/Mountain-Background.jpg");
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  line-height: 140%;
}
.container {
  width: 50%;
}

body {
  margin: 0;
  background: rgb(220, 219, 219);
  font-family: "Work Sans", sans-serif;
  font-weight: 1000;
}
